body, html {
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/bg-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: hsl(257, 40%, 49%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.container {
    padding: 50px;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
}
.flex-container > *{
    flex: 1 100%;
}
.header {

}
.image-container {
    flex: 1;
}
.image-container > img {
    /* width: 100%; */
    /* max-width:1000px; */
    margin: auto;
    height: auto;
    width: auto;
    /* display: block; */
}

.landing-text {
    flex:2;
    padding: 50px;
    width: 60%;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
p {
    line-height: 2;
}
.register-button {
    color: #000;
    border-radius: 30px;
    padding: 15px 50px;
    background-color: #fff;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.footer {
    font-size: 2rem;
    text-align: right;
    /* position: absolute; */
    bottom: 0;
    width: 100%;

}
.footer svg {
    /* top: 95%; */
    /* bottom: 0; */
    margin: 15px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}